/a.01.svg
/a.01w1.svg
/a.01w2.svg
/a.1.svg
/a.1w1.svg
/a.1w2.svg
/a1.svg
/a10.svg
/a10w1.svg
/a10w2.svg
/a1w1.svg
/a1w2.svg
/a50.svg
/a50w1.svg
/a50w2.svg
/AutoEncoder.zip
**/data/
**/models/*.pt
!**/models/*latest.pt
.vscode/settings.json
